<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | Med Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content">
  <div class="nav">
    <a href="{{ url_for('dashboard') }}">Dashboard</a> | <a href="{{ url_for('encounters') }}">Encounters</a> | <span>Census Reports</span> | <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <h1>Census reports:</h1>
  <ul>
    {% for file in files %}
      <li><a href="{{ url_for('download_file', file_name=file) }}" download>{{ file }}</a></li>
    {% endfor %}
  </ul>
</div>
</body>
</html>