<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard | Med Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='vend/jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vend/socket.io/4.4.1/socket.io.min.js')}}"></script>
</head>
<body>
<div class="content">
  <div class="nav">
    <span>Dashboard</span> | <a href="{{ url_for('encounters') }}">Encounters</a> | {% if is_admin %} <a href="{{ url_for('admin') }}">Admin</a> | {% endif %} <a href="{{ url_for('logout') }}">Logout</a>
  </div>
  <div class="aid-station-stats">
    <h1>{{ current_user.username }}</h1>
  </div>
  <div class="active-encounters">
    <h1>Active Encounters</h1>
      {% for aid_station in aid_stations %}
        <table class="active-encounters-aid">
          <thead class="{{ 'good-field' if  active_encounters[aid_station] | length == 0 }} {{ 'warn-field' if  (active_encounters[aid_station] | length > 0) and  (active_encounters[aid_station] | length < 10)}} {{ 'danger-field' if  active_encounters[aid_station] | length >= 10 }}">
            <tr>
              <th>{{ aid_station }} ({{ active_encounters[aid_station] | length }})</th>
            </tr>
          </thead>
          <tbody>
            {% for aedx in active_encounters[aid_station] %}
              <tr><td>{% if aedx[2] == '' %} {{ aedx[3] }} {{ aedx[4]}} {% else %} {{ aedx[2] }} {% endif %}</td></tr>
            {% endfor %}
          </tbody>
        </table>
    {% endfor %}
  </div>
    <div class="synopsis-div">
        <h1>Synopsis</h1>
        <table class="synopsis">
            <thead>
                <tr>
                    <th> </th>
                    <th>Encounters</th>
                    <th>Active Encounters</th>
                    <th>Completed Encounters</th>
                    <th>Transports</th>
                </tr>
                <tr>
                    <th> </th>
                    <th>{{ synopsis['total']['encounters'] }}</th>
                    <th>{{ synopsis['total']['active'] }}</th>
                    <th>{{ synopsis['total']['discharged'] }}</th>
                    <th>{{ synopsis['total']['transported'] }}</th>
                </tr>
            </thead>
            <tbody>
                {% for aid_station in aid_stations %}
                    <tr>
                        <td>{{ aid_station }}</td>
                        <th>{{ synopsis['stations'][aid_station]['encounters'] }}</th>
                        <th>{{ synopsis['stations'][aid_station]['active'] }}</th>
                        <th>{{ synopsis['stations'][aid_station]['discharged'] }}</th>
                        <th>{{ synopsis['stations'][aid_station]['transported'] }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
  socket = io.connect('//' + document.domain + ':' + location.port + '/api');
  socket.on('after connect', function(msg) {console.log('Connected')});
  socket.on('new_encounter', function(msg) { location.reload() });
  socket.on('edit_encounter', function(msg) { location.reload() });
  socket.on('edit_encounter', function(msg) { location.reload() });
  socket.on('remove_encounter', function(msg) { location.reload() });
</script>
</body>
</html>